:root {
  --magnet: #fe3c72;
  --darker-magnet: #ef4a75;
  --orange-pink: #fd5564;
  --white: #ffffff;
  --gray: #424242;
  --soft-shadow: rgba(0, 0, 0, 0.167);
  --tinder-gradient: linear-gradient(
    96deg,
    rgba(254, 60, 114, 1) 0%,
    rgba(239, 74, 117, 1) 50%,
    rgba(253, 148, 85, 1) 100%
  );
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

p {
  font-family: "Josefin Sans", sans-serif;
  display: block;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.container {
  font-size: 1rem;
  width: 90%;
  max-width: 30em;
  margin: 1.5em auto;
}

.gradient-btn {
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  background: var(--magnet);
  background: var(--tinder-gradient);
  color: var(--white);
  font-weight: 500;
  padding: 0.4em 0.8em;
  transition: all 0.4s ease-out;
}

.gradient-btn::before {
  visibility: hidden;
  pointer-events: none;
  content: "";
  position: absolute;
  top: -70%;
  bottom: -50%;
  left: -30%;
  padding: 0 1em;
  transform: rotateZ(20deg);
  background-color: rgba(255, 255, 255, 0.602);
  transition: all 0.3s ease-out;
}

.gradient-btn:hover::before {
  visibility: visible;
  margin-left: 140%;
  margin-top: 20%;
}
